.header {
    width: 1400px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 1px;
    padding-left: 70px;
    background: rgba(255, 255, 255, 0.20);
}

#companyName {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 165% */
    letter-spacing: 0.72px;
}

.center {
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    height: 100vh; /* Optional: Center vertically in the viewport */
    background: linear-gradient(180deg, #000 0%, rgba(107, 53, 247, 0.20) 100%); /* make gradient and purple stronger */
}

.leftSide { 
    border: 1px solid #443C5C;
    background-image: url(<src/img/robot.png>), lightgray 50% / cover no-repeat;
}

.rightSide {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    
}

#colourHead {
    text-align: center;
    font-family: 'SpaceGroteskBold';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;

    background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 10px; 
  }

#whiteHead {
    text-align: center;
    font-family: 'SpaceGroteskRegular';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;    
    margin-top: 0px;

    margin-bottom: 10px; 
}

#paragraph {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 165% */
    letter-spacing: 0.72px;
    margin-top: 0px; 

}

.textInput {
    color: white;
    font-family: "SpaceGroteskRegular";
    padding: 1.1rem;
    border: double 3px transparent;
    border-radius: 100px;
    background-image: linear-gradient(#443C5C, #443C5C), 
    linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-right: 30px; 
    float: left;
}
  
#textInput1 {
    width: 300px;
}

#textInput2 {
    width: 170px;
}


.textInput::placeholder {
    color: #A3A3A3; 
    font-family: "SpaceGroteskRegular";
}

.inputContainer {
    margin: 10px;
}

#goButton {
    width: 20px;
    height: 20px;
    padding: 27px; /* Adjust padding */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Use 50% for a perfect circle */
    background: linear-gradient(180deg, #D1D3E2 0%, #75629D 100%);
    text-decoration: none; 
    float: right;
  }

#goButton::after {
    content: '\2192';
    font-size: 20px; 
    text-decoration: none; 
}