.header {
    width: 1400px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 1px4;
    padding-left: 70px;
    background: rgba(255, 255, 255, 0.20);
}

#companyName {
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 165% */
    letter-spacing: 0.72px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    display: flex;
    height: 100vh; /* Optional: Center vertically in the viewport */
    background-image: url("src/img/summaryBackground.png");
    /* background: linear-gradient(180deg, #000 0%, rgba(107, 53, 247, 0.20) 100%); make gradient and purple stronger */
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-family: 'SpaceGroteskBold';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;

    background: linear-gradient(180deg, #FFF 0%, #C5C5C5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 0px;
    margin-bottom: 10px; 
}

.title2 {
    text-align: center;
    font-family: 'SpaceGroteskBold';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;

    background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 0px;
} 

.loading {
    text-align: center;
    font-family: 'SpaceGroteskBold';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;

    background: linear-gradient(180deg, #FFF 0%, #C5C5C5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    text-align: center;
    top: 150px;
    left: 600px;

}

.summary {
    color: white;
    font-family: "SpaceGroteskRegular";
    padding: 1.1rem;
    border: double 3px transparent;
    border-radius: 50px;
    background-image: linear-gradient(#443C5C, #443C5C), 
    linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    line-height: 33px; /* 165% */
    letter-spacing: 0.72px;
    max-width: 1000px;
}

.display-linebreak {
    white-space: pre-line;
  }

  *,
  *:after,
  *:before {
      box-sizing: border-box;
      transform-style: preserve-3d;
  }
  
  
  :root {
    --size: 120;
    --coefficient: 1px;
    --timeline: 2.6s;
   
    --delay: 0.65s; /* causes the landing page to glitch */

    --rotation-y: -24;
    --rotation-x: 28;
    --color-one: #3a0ca3;
    --color-two: #4361ee;
    --color-three: #4cc9f0;
  }
  
  .scene {
        display: grid;
      place-items: center;
      min-height: 100vh;
      font-family:  'Google Sans', sans-serif, system-ui;
  
    position: relative;
    transform: translate3d(0, 0, 100vmin) rotateX(calc(var(--rotation-y, 0) * 1deg)) rotateY(calc(var(--rotation-x, 0) * 1deg)) rotateX(0deg);
  }
  
  .backgroundLoader {
    background: linear-gradient(180deg, #000 0%, rgba(107, 53, 247, 0.20) 100%); /* make gradient and purple stronger */
  }

  .fakeBody {
      transform-origin: 50% 50%;
      animation: scale var(--timeline) var(--delay) infinite linear;
  }
  
  @keyframes scale {
    0%, 10% {
      transform: scaleX(1) scaleY(1);
    }
      35%, 100% {
          transform: scaleX(0.5) scaleY(0.5);
      }
  }
  
  .shadow {
      width: calc(var(--size) * var(--coefficient));
      position: absolute;
      bottom: 0;
      aspect-ratio: 1;
      transform-origin: 50% 50%;
      background: hsl(210 80% 50% / 0.2);
      transform: rotateX(90deg) translate3d(0, 0, calc((var(--size) * (var(--coefficient) * -0.5)) - 1px)) scale(0.96);
      animation: squish-squosh var(--timeline) var(--delay) infinite, fade var(--timeline) var(--delay) infinite;
      background: black;
  }
  
  .loader {
      --depth: var(--size);
      --color: var(--color-one, #8338EC);
      width: calc(var(--depth) * var(--coefficient));
      aspect-ratio: 1;
      transform-origin: 50% 50%;
      animation: squish-squosh var(--timeline) var(--delay) infinite;
  }
  
  .spinner {
      animation: spin var(--timeline) var(--delay) infinite;
  }
  
  .jumper {
      animation: jump var(--timeline) var(--delay) infinite;
  }
  
  @keyframes squish-squosh {
      0%, 50%, 60% {
          scale:  1 1 1;
      }
      10%, 35% {
          scale: 1.2 0.8 1.2;
      }
      25% {
          scale: 0.8 1.2 0.8;
      }
      70% {
          scale: 1 1 2;
      }
      80% {
          scale: 2 1 2;
      }
      90%, 100% {
          scale: 2 2 2;
      }
  }
  
  
  @keyframes fade {
      0%, 10%, 40%, 50%, 60%, 100% {
          opacity: 1;
      }
      25% {
          opacity: 0.5;
      }
  }
  
  @keyframes spin {
      0%, 10% { rotate: 0deg; }
      30%, 100% { rotate: -360deg; }
  }
  @keyframes jump {
      0%, 10%, 35%, 50% {
          translate: 0 0;
      }
      25% {
          translate: 0 -150%;
      }
  }
  
  /* Cuboid boilerplate code */
  .cuboid {
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin var(--2.6s) var(--0.65s) infinite;

  }
  .cuboid__side {
    background: var(--color);
    position: absolute;
    animation: squish-squosh var(---2.6s) var(--0.65s) infinite;

  }
  .cuboid__side:nth-of-type(1) {
    --b: 1.1;
    height: calc(var(--depth, 20) * var(--coefficient));
    width: 100%;
    top: 0;
    transform: translate(0, -50%) rotateX(90deg);
  }
  .cuboid__side:nth-of-type(2) {
    --b: 0.9;
    --color: var(--color-three, #FF006E);
    height: 100%;
    width: calc(var(--depth, 20) * var(--coefficient));
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotateY(90deg);
  }
  .cuboid__side:nth-of-type(3) {
    --b: 1;
    width: 100%;
    height: calc(var(--depth, 20) * var(--coefficient));
    bottom: 0;
    transform: translate(0%, 50%) rotateX(90deg);
  }
  .cuboid__side:nth-of-type(4) {
    --b: 1;
    --color: var(--color-three, #FF006E);
    height: 100%;
    width: calc(var(--depth, 20) * var(--coefficient));
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
  }
  .cuboid__side:nth-of-type(5) {
    --b: 1;
    --color: var(--color-two, #3A86EF);
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, calc(var(--depth, 20) * (var(--coefficient) * 0.5)));
    top: 0;
    left: 0;
  }
  .cuboid__side:nth-of-type(6) {
    --b: 1.2;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, calc(var(--depth, 20) * (var(--coefficient) * -0.5))) rotateY(180deg);
    top: 0;
    left: 0;
  }