.header {
    width: 1400px;
    height: 60px;
    flex-shrink: 0;
    padding-top: 1px;
    padding-left: 70px;
    background: rgba(255, 255, 255, 0.20);
}

#companyName {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 165% */
    letter-spacing: 0.72px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    display: flex;
    height: 100vh; /* Optional: Center vertically in the viewport */
    background: linear-gradient(180deg, #000 0%, rgba(107, 53, 247, 0.20) 100%); /* make gradient and purple stronger */
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-family: 'SpaceGroteskBold';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;

    background: linear-gradient(180deg, #FFF 0%, #C5C5C5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 0px;
    margin-bottom: 10px; 
}

.title2 {
    text-align: center;
    font-family: 'SpaceGroteskBold';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;

    background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: 0px;
} 

.summary {
    color: white;
    font-family: "SpaceGroteskRegular";
    padding: 1.1rem;
    border: double 3px transparent;
    border-radius: 50px;
    background-image: linear-gradient(#443C5C, #443C5C), 
    linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    line-height: 33px; /* 165% */
    letter-spacing: 0.72px;
    max-width: 1000px;
}

.display-linebreak {
    white-space: pre-line;
  }